.tauri-regular {
  font-family: "Tauri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-clr: #F5EEE6;
  --secondary-clr: #FFF8E3;
  --tertiary-clr: #F3D7CA;
  --last-clr: #E6A4B4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  font-family: "Tauri", sans-serif;
  background-color: var(--primary-clr);
}

header > a > svg {
  width: 24px;
  height: 24px;
  fill: var(--last-clr);
}

header > a:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  background-color: var(--secondary-clr);
}

header p {
  color: var(--last-clr);
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  position: relative;
}

main > div > p {
  color: var(--last-clr);
  font-size: 1.5rem;
}

main > div > a > svg {
  width: 24px;
  height: 24px;
  fill: var(--last-clr);
}

main > div > a:hover {
  cursor: pointer;
}

main > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.book-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 2rem;;
}

.book {
  display: flex;
  border: 2px solid var(--last-clr);
  border-radius: 20px;
  width: 300px;
  height: 350px;
  background-color: var(--secondary-clr);
}

.book > div > svg {
  fill: var(--last-clr);
}

.book > div:first-child {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: auto;
  padding: 1rem;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: max-content;
  gap: 1rem;
  width: 150px;
}

.icons > div{
  padding: 1rem;
}
.icons > div > button {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid var(--secondary-clr);
  background-color: var(--last-clr);
  border-radius: 6px;
  color: var(--secondary-clr);
  font-weight: bold;
  cursor: pointer;
  height: 30px;
}

.icons div > button:nth-child(2) {
  background-color: red;
  cursor: pointer;
  color: var(--primary-clr);
}

.book > div > div > h4,
.book > div > div > p{
  font-size: 1.2rem;
  color: var(--last-clr);
}

#modal[open],
#isReadModal[open] {
  border: 0px;
  border-radius: 1rem;
  margin: 5rem auto auto auto;
  width: 250px;
}


#modal::backdrop,
#isReadModal::backdrop {
  background-color: rgb(0, 0, 0, 0, 5);
}

form > label {
  font-weight: bold ;
  color: var(--last-clr);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 6px;
  background-color: var(--primary-clr);
}

form > div {
  width: max-content;
}

form > h1 {
  color: var(--last-clr);
  font-size: 2rem;
}

form > div > button:first-child,
form > div > button:nth-child(2) {
  width: 5rem;
  padding: 4px;
  border: 1px solid var(--last-clr);
  color: var(--secondary-clr);
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

form > div > button:first-child {
  background-color: red;
}

form > div > button:nth-child(2) {
  background-color: var(--last-clr);
}

input {
  border-radius: 10px;
  border: 1px solid var(--last-clr);
  width: 80%;
  padding: 6px;
}

